.home-container {
  text-align: center;
  padding: 50px;
  background: linear-gradient(#1c2541, #3a506b, #5bc0be);
  height: 100vh;
  color: white;
}

h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  margin-bottom: 40px;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.card {
  background: #0b132b;
  padding: 30px;
  width: 300px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.4);
}

.card h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.btn {
  display: inline-block;
  background: #5bc0be;
  padding: 10px 20px;
  margin-top: 20px;
  color: black;
  text-decoration: none;
  font-weight: bold;
  border-radius: 6px;
}

.btn:hover {
  background: #3a506b;
  color: white;
}

.register-link {
  color: #9cecfb;
  font-size: 14px;
  text-decoration: underline;
}
