*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*  -------------------FORMS---------------*/
.form-input {
    width: 100%;
    border: 1px solid lightgray;
    font-size: 18px;
    padding: 8px;
    border-radius: 4px;
}

.form-input:focus {
    outline: none;
    border: 2px solid plum ;

}
.form-btn {
    width: 100%;
    border: 1px solid lightgray;
    font-size: 18px;
    padding: 10px
}
.form-btn:hover {
    background-color:#03bdec ;
    color: #ffffff;
}
.form-btn,a{
    text-decoration:none;
    text-align: center;
    font-weight: bold;
}
.gender-group {
  display: flex;
  justify-content: space-between;
  padding: 8px 10px;
  background: #f4f4f4;
  border-radius: 6px;
}

.gender-group label {
  display: flex;
  align-items: center;
  gap: 5px;
}

.register-btn {
  padding: 12px;
  background: linear-gradient(90deg, #06beb6, #48b1bf);
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  cursor: pointer;
  width: 100%;
}

.register-btn:hover {
  opacity: 0.9;
}


/* CArd */
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.m-auto{
    margin: auto;
}
.text-center{
    text-align: center;
}

.welcome-txt{
    font-weight:bold;
    font-size:50px;
    color:white;
    text-shadow: 1px 1px 2px plum, 0 0 25px blue, 0 0 5px plum;
}
.card2{
    box-shadow: rgb(246, 245, 245) 0px 22px 70px 4px;
    background: #355C7D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
.card-title {
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
}

.mt-10{
    margin-top: 10px;
}
.mt-20{
    margin-top: 20px;
}
.mt-30{
    margin-top: 30px;
}
.mt-30p{
    margin-top: 10%;
}

.w-30{
    width: 30%;
}

.p-10{
    padding: 10px;
}
.p-20{
    padding: 20px;
}


.dsb{
 display: block;
}
