.membership-container {
  width: 100%;
  padding: 20px;
}

.membership-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}

.title {
  margin: 0;
  font-size: 24px;
  margin-left: 45%;
}

.buttons {
  display: flex;
  gap: 12px;
}

.btn {
  padding: 10px 18px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.add-btn {
  background-color: #28a745;
  color: white;
}

.view-btn {
  background-color: #007bff;
  color: white;
}

.membership-list {
  margin-top: 20px;
}
.membership-card-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 cards per row */
  gap: 20px;
  margin-top: 20px;
}

.membership-card {
  background: white;
  padding: 18px;
  border-radius: 10px;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
  text-align: center;
  transition: 0.3s;
}

.membership-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 4px 12px rgba(0,0,0,0.2);
}

.card-title {
  font-size: 20px;
  font-weight: bold;
}

.card-price {
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0;
  color: rgb(34, 139, 34);
}

.card-duration {
  font-size: 16px;
  color: #555;
  margin-bottom: 15px;
}

.card-btn {
  padding: 8px 15px;
  background: rgb(34, 139, 34);
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.card-btn:hover {
  background: rgb(29, 120, 29);
}

.no-data {
  text-align: center;
  grid-column: span 5;
  padding: 20px;
  font-size: 18px;
  color: #888;
}

